footer{
    background-color: #343a40!important;
    color: white;
}
.list-unstyled{
    color: white;
}
.container{
    justify-content: center;
    display: grid;
}

.home-section{
    position: relative;
    /* z-index: 999;
    padding-top: 140px;
    padding-bottom: 110px; */
    background-size: cover;
    width:100%;
    max-width:1200px;
    margin:auto;
    display:block; 
}

.home{
    width: 100%;
    /* background: #000;
    opacity: 0.39; */
    position: relative;
    top: 0;
    left: 0;
    /* right: 0;
    bottom: 0; */
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    height: 100%;
}

.container-home{
    max-width: 1140px;
}

.row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.padding-top-120{
    padding-top: 120px !important;
}

.home-section p.hero-text {
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: #fff;
    text-shadow: 1px 1px #373737;
}

.margin-top-20 {
    margin-top: 20px !important;
}

.register-form-wrapper h3 {
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: 500;
}

p.register_success_box {
    display: inline-block;
    color: #27b36a;
    border: 1px solid #27b36a;
    padding: 25px 25px;
    font-size: 19px;
    text-shadow: none;
    font-style: italic;
    border-radius: 8px 8px;
    margin: 15px 0;
}

input.register-input, select.register-input {
    width: 100%!important;
    height: 52px!important;
    padding-left: 11%!important;
    padding-right: 5%!important;
    margin-bottom: 15px!important;
    color: #555!important;
    border: 1px solid #f1f1f1!important;
    background-color: #f9f9f9!important;
    font-size: 16px!important;
    border-radius: 5px 5px 5px 5px!important;
}

input.register-submit {
    background: #1b1c1d79;
    border: none;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    width: 100%;
    max-width: 535px;
    padding: 16px 0;
    text-transform: uppercase;
    -webkit-border-radius: 3px 3px;
    -moz-border-radius: 3px 3px;
    border-radius: 3px 3px;
    transition: all .50s ease-in-out;
    -moz-transition: all .50s ease-in-out;
    -webkit-transition: all .50s ease-in-out;
}

.form-box {
    padding: 40px;
    background: #fff;
    border-radius: 7px;
    /* position: absolute; */
    /* top: 0;
       left: 0; */
    /* display: flex; */
    /* flex-direction: column;  */
    /* justify-content: center; */
    align-items: center; 
    width: 100%;
    height: 100%;
}


#myVideo{
    position: absolute;
    width:auto;
    height:-webkit-fill-available; 
} 

.about-section{
    margin: 16px;
    margin-top: 92px;
    padding: 80px;
}

.service-section{
    margin: 16px;
    padding: 80px;
    background: whitesmoke;
}

.card{
    margin: 16px;
    padding: 50px;
}

#interior{
    background: silver;
    padding: 20px;
}
#plumbing{
    background: orange;
    color: white;
    padding: 20px;
}
#planting{
    background: midnightblue;
    color: white;
    padding: 20px;
}

.project-section{
    margin: 16px;
    padding: 80px;
    color: white;
    background: #333;
}

.btn-dark{
    margin: 16px;
}

.testimonials-section{
    padding: 50px;
    background: whitesmoke;
}

.testimonials{
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    background-image: url(../img/bg_1.jpg);
    background-size: cover;
}

.container-fluid{
    background: orange;
}

.social-section{
    padding: 80px;
}

#subscribe{
    background: orange;
}

@media (max-width:500px) {
    #myVideo{
        position: absolute;
        width:100%;
        height:auto; 
    } 
    #image{
        width: 100%;
    }
    #subscribe{
        width: min-content;
        margin-left: -70px;
    }
} 

